body{
    background: #BDBDBD;
}
.col-form-label{
    margin-bottom: 20px;
}
.placeholder{
    margin:25px 0px 25px 120px;
}
.contact{
    margin-top: 50px;
}
.imagen1 {
    background-image: url(../img/1.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    background-position: center;
}
.first-heading {
    background-color: white;
    padding: 50px;
}
.gray {
    color:gray
}
/*.titule {
    font-size: 35px;
}*/
.imagen2 {
    background-image: url(../img/2.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    background-position: left;
}