<div class="p-3" style="background-color: white;">
<h2 class="contact">Contact</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quae cum
  doloremque perspiciatis dignissimos, numquam magnam. Sapiente dolore corrupti
  deserunt veniam rerum quos inventore laboriosam.
</p>
  <div class="placeholder w-75 bg-light border rounded">
    <form>
      <div class="row d-grid d-md-flex justify-content-md-center p-4">
        <label for="inputEmail" class="col-sm-2 fw-bold">Your E-mail</label>
        <input
          type="email"
          class="col-form-label col-sm-8 border border-1 rounded"
          id="inputEmail"
          placeholder="Your email"
        />
      </div>

      <div class="row d-grid d-md-flex justify-content-md-center">
        <label for="exampleFormControlTextarea1" class="col-sm-2 fw-bold"
          >Your message</label
        >
        <textarea
          class="col-form-label col-sm-8 border border-1 rounded"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="Please enter your message here.."
        ></textarea>
      </div>

      <div class="d-flex  flex-row-reverse p-3 mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
